<div class="form-container">
    <h2>Edit Employee</h2>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">
        <mat-error *ngIf="employeeForm.get('firstName')?.hasError('required')">
          First Name is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
        <mat-error *ngIf="employeeForm.get('lastName')?.hasError('required')">
          Last Name is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="employeeForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="employeeForm.get('email')?.hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Position" formControlName="position">
        <mat-error *ngIf="employeeForm.get('position')?.hasError('required')">
          Position is required
        </mat-error>
      </mat-form-field>
  
      <div class="button-group">
        <button mat-raised-button type="button" routerLink="/">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm.invalid || isSubmitting">
        <mat-icon *ngIf="!isSubmitting"></mat-icon>
        <mat-spinner *ngIf="isSubmitting" diameter="20"></mat-spinner>
        {{ isSubmitting ? 'Saving...' : 'Save Employee' }}
        </button>
      </div>
    </form>
  </div>